<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>招聘网职位列表</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link th:href="@{/salary/css/dropload.css}" type="text/css" rel="stylesheet" />

        <link th:href="@{/salary/css/nav.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/salary/css/style1.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/salary/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/salary/css/style.css}" rel="stylesheet" type="text/css"/>

        <script th:src="@{/js/jquery-3.3.1.min.js}" type="text/javascript"></script>

        
    </head>
    <body>


    <div id="wrapper">
<!--        <div class="overlay"></div>-->

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Bootstrap 3
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-folder"></i> Page one</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-file-o"></i> Second page</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-cog"></i> Third page</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dropdown heading</li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-bank"></i> Page four</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-dropbox"></i> Page 5</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-twitter"></i> Last page</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
<!--            <div class="container">-->
<!--                <div class="row">-->
                    <section class="aui-flexView">
                        <header class="aui-navBar aui-navBar-fixed">
                            <div class="aui-center aui-center-clear">
                                <div class="aui-job-search">
                                    <div class="aui-job-search-box" id="aui-job-search-box">
                                        <i class="icon icon-search"></i>
                                        <input type="text" placeholder="搜索职位/公司" id="searchCompany"/>
                                    </div>
                                </div>
                            </div>

                            <a href="/salary/addIdx" class="aui-navBar-item">
<!--                                <i class="icon icon-plus"></i>-->
                                <div class="aui-icon-s"><i class="icon-add icon-sys"></i></div>
<!--                                <div>扫一扫</div>-->
                            </a>
                        </header>



                        <div class="aui-job-list">
                            <!--                <a href="javascript:;" class="aui-flex">-->
                            <!--                    <div class="aui-flex-box">-->
                            <!--                        <h2>web前端高级工程师开发</h2>-->
                            <!--                        <p>北京 5-10年 本科</p>-->
                            <!--                        <span>-->
                            <!--                                <em>周末双休</em>-->
                            <!--                                <em>五险一金</em>-->
                            <!--                                <em>年底双薪</em>-->
                            <!--                                <em>节日福利</em>-->
                            <!--                            </span>-->
                            <!--                        <p>北京AUI素材网网络科技有限公司</p>-->
                            <!--                    </div>-->
                            <!--                    <div class="aui-monthly">-->
                            <!--                        <h3>5万-7万月</h3>-->
                            <!--                        <p>10月25</p>-->
                            <!--                    </div>-->
                            <!--                </a>-->
                            <div class="test"></div>
                        </div>

                        <footer class="aui-footer">
                            <a href="javascript:;" class="aui-tabBar-item aui-tabBar-item-active">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-home"></i>
                    </span>
                                <span class="aui-tabBar-item-text">职位</span>
                            </a>
                            <a href="javascript:;" class="aui-tabBar-item ">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-loan"></i>
                    </span>
                                <span class="aui-tabBar-item-text">消息</span>
                            </a>
                            <a href="javascript:;" class="aui-tabBar-item ">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-find"></i>
                    </span>
                                <span class="aui-tabBar-item-text">职场</span>
                            </a>
                            <a href="javascript:;" class="aui-tabBar-item ">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-car"></i>
                    </span>
                                <span class="aui-tabBar-item-text">简历</span>
                            </a>
                            <a href="javascript:;" class="aui-tabBar-item ">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-me"></i>
                    </span>
                                <span class="aui-tabBar-item-text">我的</span>
                            </a>
                        </footer>
                    </section>
<!--                    <div class="col-lg-8 col-lg-offset-2">-->
<!--                        -->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    </body>

<script th:src="@{/salary/js/dropload.js}" type="text/javascript"></script>
<script th:src="@{/salary/js/normal.js}" type="text/javascript"></script>
<script th:src="@{/salary/js/salarySec.js}" type="text/javascript"></script>
<script th:src="@{/salary/js/salary.js}" type="text/javascript"></script>
<script th:src="@{/salary/js/nav.js}" type="text/javascript"></script>
<script th:src="@{/salary/js/bootstrap.min.js}" type="text/javascript"></script>



<script>
    num = 10;
    pageStart = 0,pageEnd = 0;
    query = $('#searchCompany')[0].value;
    $(function(){
        var counter = 0;
        // 每页展示4个
        //var
        dropload = $('.aui-job-list').dropload({
            scrollArea : window,

            loadDownFn : function(me){
                console.log('/salary/salaryCondtion?query='+query+'&amp;begin='+pageStart+'&amp;limit='+num)
                $.ajax({
                    type: 'GET',
                    url: '/salary/salaryCondtion?query='+query+'&amp;begin='+pageStart+'&amp;limit='+num,
                    dataType: 'json',
                    success: function(data){
                        var result = setData(data.t);
                        //counter++;
                        //pageEnd = num * counter;
                        //pageStart = pageEnd - num;
                        pageStart++;

                        /*<![CDATA[*/if (data.t.length < num){
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                        }
                        /*]]>*/
                        
                        // 为了测试，延迟1秒加载
                        setTimeout(function(){
                            $('.test').append(result);
                            // 每次数据加载完，必须重置
                            me.resetload();
                        },1000);
                    },
                    error: function(xhr, type){
                        // 即使加载出错，也得重置
                        me.resetload();
                    }
                });
            },
            threshold : 100
        });
    });
</script>

    <script type="text/javascript">
        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });

            $('#aui-job-search-box').keydown(function(e){
                query = $('#searchCompany')[0].value;
                pageStart = 0;
                if(e.keyCode==13){
                    $.ajax({
                        type: 'GET',
                        url: '/salary/salaryCondtion?query='+query+'&amp;begin='+pageStart+'&amp;limit='+num,
                        dataType: 'json',
                        success: function(data){
                            // var result = setData(data.t);
                            pageStart++;
                            // 为了测试，延迟1秒加载
                            setTimeout(function(){
                                appendResultToPageV1($('.test'), data);
                                // 每次数据加载完，必须重置
                                dropload.resetload();
                            },1000);
                        },
                        error: function(xhr, type){
                            // 即使加载出错，也得重置
                            dropload.resetload();
                        }
                    });
                }
            });
        });

    </script>
</html>
