<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>

<div style="float: left; width:33%;">
    <div class="table-div" style="height: 640px; margin-top: 3px;">
        <table class="levelTable" style="height: 100%; width: 100%; border-collapse: collapse; border:1">
            <tbody>
            <tr style="height: 20.4082%; max-height: 20.4082%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(60, 186, 84, 0.25);">
                <td>
                    <span class="span-f" style="font-size:1.1em;display:inline-block;">L3</span>
                    <br/>
                    <span class="span-f" style="font-size:0.7em;display:inline-block;">SWE II</span>
                    <br/>
                    <a style="display:block" href="/company/Google/salaries/Software-Engineer/L3/"></a>
                </td>
            </tr>
            <tr style="height: 20.4082%; max-height: 20.4082%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(60, 186, 84, 0.3);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">L4</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">SWE III</span><br/><a
                        style="display:block" href="/company/Google/salaries/Software-Engineer/L4/"></a></td>
            </tr>
            <tr style="height: 20.4082%; max-height: 20.4082%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(60, 186, 84, 0.35);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">L5</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">Senior SWE</span><br/><a
                        style="display:block" href="/company/Google/salaries/Software-Engineer/L5/"></a></td>
            </tr>
            <tr style="height: 15.3061%; max-height: 15.3061%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(60, 186, 84, 0.4);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">L6</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">Staff SWE</span><br/><a
                        style="display:block" href="/company/Google/salaries/Software-Engineer/L6/"></a></td>
            </tr>
            <tr style="height: 10.2041%; max-height: 10.2041%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(60, 186, 84, 0.45);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">L7</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">Senior Staff SWE</span><br/><a
                        style="display:block" href="/company/Google/salaries/Software-Engineer/L7/"></a></td>
            </tr>
            <tr style="height: 7.14286%; max-height: 7.14286%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(60, 186, 84, 0.5);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">L8</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;font-size: calc(6px + 0.5vmin);">Principal Engineer</span><br/><a
                        style="display:block" href="/company/Google/salaries/Software-Engineer/L8/"></a></td>
            </tr>
            <tr class="position-row"
                style="height: 3.06122%; max-height: 3.06122%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(60, 186, 84, 0.55);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">L9</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;font-size: calc(6px + 0.5vmin);">Distinguished Engineer</span><br/><a
                        style="display:block" href="/company/Google/salaries/Software-Engineer/L9/"></a></td>
            </tr>
            <tr class="position-row"
                style="height: 3.06122%; max-height: 3.06122%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(60, 186, 84, 0.6);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">L10</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">Google Fellow</span><br/><a
                        style="display:block" href="/company/Google/salaries/Software-Engineer/L10/"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="float:left; width:33%">
    <div class="table-div" style="height: 640px; margin-top: 3px;">
        <table class="levelTable" style="height: 95%; width: 100%; border-collapse: collapse;">
            <tbody>
            <tr class="position-row"
                style="height: 20.202%; max-height: 20.202%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(59, 89, 152, 0.25);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">E3</span><a style="display:block"
                                                                                                   href="/company/Facebook/salaries/Software-Engineer/E3/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 20.202%; max-height: 20.202%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(59, 89, 152, 0.306);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">E4</span><a style="display:block"
                                                                                                   href="/company/Facebook/salaries/Software-Engineer/E4/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 20.202%; max-height: 20.202%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(59, 89, 152, 0.365);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">E5</span><a style="display:block"
                                                                                                   href="/company/Facebook/salaries/Software-Engineer/E5/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 15.1515%; max-height: 15.1515%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(59, 89, 152, 0.42);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">E6</span><a style="display:block"
                                                                                                   href="/company/Facebook/salaries/Software-Engineer/E6/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 10.101%; max-height: 10.101%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(59, 89, 152, 0.48);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">E7</span><a style="display:block"
                                                                                                   href="/company/Facebook/salaries/Software-Engineer/E7/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 7.07071%; max-height: 7.07071%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(59, 89, 152, 0.537);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">E8</span><a style="display:block"
                                                                                                   href="/company/Facebook/salaries/Software-Engineer/E8/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 7.07071%; max-height: 7.07071%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(59, 89, 152, 0.592);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">E9</span><a style="display:block"
                                                                                                   href="/company/Facebook/salaries/Software-Engineer/E9/"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="float:left; width:33%">
    <div class="table-div" style="height: 640px; margin-top: 3px;">
        <table class="levelTable" style="height: 100%; width: 100%; border-collapse: collapse;">
            <tbody>
            <tr class="position-row"
                style="height: 7.95455%; max-height: 7.95455%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.25);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">SDE</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">59</span><br/><a
                        style="display:block" href="/company/Microsoft/salaries/Software-Engineer/SDE/"></a></td>
            </tr>
            <tr class="position-row"
                style="height: 7.95455%; max-height: 7.95455%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.282);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">60</span><a style="display:block"
                                                                                                   href="/company/Microsoft/salaries/Software-Engineer/60/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 11.3636%; max-height: 11.3636%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.31);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">SDE II</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">61</span><br/><a
                        style="display:block" href="/company/Microsoft/salaries/Software-Engineer/SDE-II/"></a></td>
            </tr>
            <tr class="position-row"
                style="height: 7.95455%; max-height: 7.95455%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.34);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">62</span><a style="display:block"
                                                                                                   href="/company/Microsoft/salaries/Software-Engineer/62/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 11.3636%; max-height: 11.3636%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.373);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">Senior SDE</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">63</span><br/><a
                        style="display:block" href="/company/Microsoft/salaries/Software-Engineer/Senior-SDE/"></a></td>
            </tr>
            <tr class="position-row"
                style="height: 7.95455%; max-height: 7.95455%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.404);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">64</span><a style="display:block"
                                                                                                   href="/company/Microsoft/salaries/Software-Engineer/64/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 11.3636%; max-height: 11.3636%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.435);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">Principal SDE</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">65</span><br/><a
                        style="display:block" href="/company/Microsoft/salaries/Software-Engineer/Principal-SDE/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 5.68182%; max-height: 5.68182%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.467);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">66</span><a style="display:block"
                                                                                                   href="/company/Microsoft/salaries/Software-Engineer/66/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 5.68182%; max-height: 5.68182%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.498);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">67</span><a style="display:block"
                                                                                                   href="/company/Microsoft/salaries/Software-Engineer/67/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 5.68182%; max-height: 5.68182%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.525);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">Partner</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">68</span><br/><a
                        style="display:block" href="/company/Microsoft/salaries/Software-Engineer/Partner/"></a></td>
            </tr>
            <tr class="position-row"
                style="height: 5.68182%; max-height: 5.68182%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.557);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">69</span><a style="display:block"
                                                                                                   href="/company/Microsoft/salaries/Software-Engineer/69/"></a>
                </td>
            </tr>
            <tr class="position-row"
                style="height: 5.68182%; max-height: 5.68182%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.59);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">70</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;font-size: calc(6px + 0.5vmin);">Distinguished Engineer</span><br/><a
                        style="display:block" href="/company/Microsoft/salaries/Software-Engineer/70/"></a></td>
            </tr>
            <tr class="position-row level_hover"
                style="height: 5.68182%; max-height: 5.68182%; text-align: center; color: rgb(51, 51, 51); position: relative; background: rgba(0, 161, 241, 0.62);">
                <td><span class="span-f" style="font-size:1.1em;display:inline-block;">80</span><br/><span
                        class="span-f" style="font-size:0.7em;display:inline-block;">Technical Fellow</span><br/><a
                        style="display:block" href="/company/Microsoft/salaries/Software-Engineer/80/"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>