<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.site.page.mapper.EvaluateCompMapper">
  <resultMap id="BaseResultMap" type="cn.com.site.page.vo.EvaluateComp">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="level_mapping" jdbcType="LONGVARCHAR" property="levelMapping" />
  </resultMap>
  <insert id="insert" parameterType="cn.com.site.page.vo.EvaluateComp">
    insert into evaluate_comp (id, company_id, company_name, 
      add_time, level_mapping)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{levelMapping,jdbcType=LONGVARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, company_id, company_name, add_time, level_mapping
    from evaluate_comp
  </select>

  <select id="selectByCompany" resultMap="BaseResultMap">
    select id, company_id, company_name, add_time, level_mapping
    where company_name = #{companyName}
    from evaluate_comp
  </select>
</mapper>