<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.site.page.mapper.SalaryMapper" >
  <resultMap id="BaseResultMap" type="cn.com.site.page.vo.Salary" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="year_of_exp" property="yearOfExp" jdbcType="REAL" />
    <result column="year_in_come" property="yearInCome" jdbcType="REAL" />
    <result column="bouns_comp" property="bounsComp" jdbcType="REAL" />
    <result column="base_comp" property="baseComp" jdbcType="REAL" />
    <result column="total_comp" property="totalComp" jdbcType="REAL" />
    <result column="base_of_month" property="baseOfMonth" jdbcType="REAL" />
    <result column="stock_comp" property="stockComp" jdbcType="INTEGER" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="hire_type" property="hireType" jdbcType="INTEGER" />
    <result column="hours" property="hours" jdbcType="VARCHAR" />
    <result column="college" property="college" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.com.site.page.vo.Salary" >
    insert into salary (id, company, title, 
      level, year_of_exp, year_in_come, 
      bouns_comp, base_comp, total_comp, 
      base_of_month, stock_comp, degree, 
      location, hire_type, hours, 
      college)
    values (#{id,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR}, #{yearOfExp,jdbcType=REAL}, #{yearInCome,jdbcType=REAL}, 
      #{bounsComp,jdbcType=REAL}, #{baseComp,jdbcType=REAL}, #{totalComp,jdbcType=REAL}, 
      #{baseOfMonth,jdbcType=REAL}, #{stockComp,jdbcType=INTEGER}, #{degree,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{hireType,jdbcType=INTEGER}, #{hours,jdbcType=VARCHAR}, 
      #{college,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, company, title, level, year_of_exp, year_in_come, bouns_comp, base_comp,
    total_comp, base_of_month, stock_comp, degree, location, hire_type, hours, college
    from salary
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap" >
    select id, company, title, level, year_of_exp, year_in_come, bouns_comp, base_comp,
    total_comp, base_of_month, stock_comp, degree, location, hire_type, hours, college
    from salary where company like CONCAT('%',#{condition},'%') or title like CONCAT('%',#{condition},'%')
    limit #{begin}, #{limit}
  </select>

  <select id="selectAllPage" resultMap="BaseResultMap" >
    select id, company, title, level, year_of_exp, year_in_come, bouns_comp, base_comp,
    total_comp, base_of_month, stock_comp, degree, location, hire_type, hours, college
    from salary  limit #{begin}, #{limit}
  </select>
</mapper>